link(rel="icon", type="image/png", href="/img/favicon.png")
link(rel="stylesheet", href="//cdn.staticfile.org/twitter-bootstrap/4.3.1/css/bootstrap.min.css")
link(rel="stylesheet", href="//cdn.staticfile.org/font-awesome/4.7.0/css/font-awesome.min.css")
link(rel="stylesheet", href="/css/sites.css?v=20190916")
script(src="//cdn.staticfile.org/jquery/2.1.4/jquery.min.js")
script(src="//cdn.staticfile.org/twitter-bootstrap/4.3.1/js/bootstrap.min.js")
script(src="//cdn.staticfile.org/parallax.js/1.5.0/parallax.min.js")
script(src="/js/sites.js?v=20190916")