extends layout

block content
  div.page
    div.cover(data-image="/img/photos/header.jpg")
      div.cover-top
        div.container
          div.row
            div.offset-lg-3.col-lg-6
              h1 授权查询
              p AUTHORITY
      div.cover-bottom
        div.container
          div.row
            div.col-lg-12
              ol.breadcrumb
                li
                  a(href="/") 首页
                li.active 授权查询

    div.page-bottom
      div.container
          div.row
            div#a-query.col-12.center-text.margin-bottom-0
              form(action="authority", method="get")
                div.input-group.input-group-lg
                  input.form-control(type="text" placeholder="输入 SN" name="sn")
                  span.input-group-append
                    button.btn.btn-outline-secondary(type="submit") 查询
            div#a-result.col-12.margin-bottom-0.hide
              div.box.shadow
                div.wt
                div.vlogo
                  img(src="/img/auth_icon.png")
                  h5 REBUILD AUTHORITY
                div.content
                  table.table.margin-bottom-0
                    tbody
                      tr
                        td 授权对象
                        th#auth-to GitHub
                      tr
                        td 授权码 (SN)
                        th#auth-sn 0000
                      tr
                        td 许可类型
                        th#auth-type 开源社区版
                      tr
                        td 授权有效期
                        th#auth-expires 无
                div.w
                      
    script(src="/js/authority.js?v=20190916")