doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    meta(name="keywords", content= keywords || "REBUILD,RB,GETREBUILD,CRM,OA,ERP,MIS,CRM系统,企业管理,业务系统,办公,企业中台")
    title= title || "帮助文档 · REBUILD"
    include _head.pug
    link(rel="stylesheet", href="/css/docs.css?v=20190916")
  body
    //- header
    header.header-area.header-sticky
      div.container
        div.row
          div.col-12
            nav.main-nav
              a.logo(href="https://getrebuild.com/")
                img(src="/img/logo.png", alt="Logo")
              ul.nav
                li
                  a(href="/") <i class="fa fa-home"></i> 返回首页

    //- doc content
    div.page
      div.container.docs
        div.row
          div.col-12.col-lg-2.col-md-3.book-nav.d-sm-none.d-md-block
            div.book-summary !{nav_content}
          div.col-12.col-lg-10.col-md-9
            div.markdown-section !{doc_content}

    //- footer
    footer
      div.container
        //- copyright
        div.row
          div.col-lg-12
            div.copyright
              p &copy; 2019 REBUILD 版权所有 · 沪ICP备15028736号
              
    script(src="/js/docs.js?v=20190916")