extends layout

block content
  //- Top banner
  div#welcome.welcome-area
    div.right-bg
      img.img-fluid.float-right(src="/img/photos/header-2.jpg")
    div.header-text
      div.container
        div.row
          div.offset-lg-3.col-lg-6.col-md-12.col-sm-12
            h1 自由设计你的企业管理系统
            p REBUILD 为你提供业务数据管理与分析、权限与流程、数据审计、消息通知等功能，可依据企业的不同需求，轻松设计出更加适合的业务系统。
            div.buttons
              a.btn-white-line(href="https://nightly.getrebuild.com/") 立即体验
              a.btn-primary-line <i class="fa fa-github"></i> GitHub

  //- Very good
  section#introductions.section.home-feature
    div.container
      div.row
        div.col-lg-12
          div.row
            - var home_feats = [['github', '免费开源', '一款优秀的产品从不会惧怕将自己完全开放，接受所有人的审视'], ['thumbs-o-up', '强大易用', '强大意味着可以满足各项需求，易用则可以更快的在企业内部推动信息化落地'], ['trophy', '资深团队', '我们拥有超过 10 年的企业产品研发与实施经验，深知企业所想所需']]
              each item in home_feats
                div.col-lg-4.col-md-6.col-sm-6.col-12
                  a.features-small-item
                    div.icon
                      i(class='fa fa-' + item[0])
                    h5.features-title #{item[1]}
                    p #{item[2]}

  //- Your needed
  section.section.padding-top-70.padding-bottom-0
    div.container
      div.row
        div.col-lg-5.col-md-12.col-sm-12.align-self-center
          img.rounded.img-fluid.d-block.mx-auto(src="/img/blue-2.png")
        div.col-lg-1
        div.col-lg-6.col-md-12.col-sm-12.align-self-center.mobile-top-fix
          div.left-heading
            div.section-title 你需要什么
          div.left-text
            p 在产品选型时，常常会被市面上为数众多的候选品带入困境，究竟如何选择？
            p 除了能夠满足日常业务需求，系统的可扩展性、灵活性、稳定性及性能也是十分重要的考察指标。REBUILD 通过强大的自定义功能实现“自进化”来满足企业不断增长的业务需求。领先于行业的系统测试覆指标可保障系统稳定及性能。
      div.row
        div.col-lg-12
          div.hr
  section.section.padding-bottom-100
    div.container
      div.row
        div.col-lg-6.col-md-12.col-sm-12.align-self-center.mobile-bottom-fix
          div.left-heading
            div.section-title 让信息化真正落地
          div.left-text
            p 很多时候，信息化并不能很好的在企业内部落地，除了企业自身的决心与执行力，实施过程和产品易用性也至关重要。
            p 业内素有“3 分软件 7 分实施”的谚语，可见实施过程对于最终产品的重要性。REBUILD 团队拥有超过 10 年的行业经验，能够打造出更加好用、易用，并符合企业流程的产品，让员工爱用、愿意用，使信息化真正落地。
        div.col-lg-1
        div.col-lg-5.col-md-12.col-sm-12.align-self-center.mobile-bottom-fix-big
          img.rounded.img-fluid.d-block.mx-auto(src="/img/blue-1.png")

  //- Feature
  section#features.parallax(data-image-src="/img/photos/parallax.jpg")
    div.parallax-content
      div.container
        div.row
          div.offset-lg-3.col-lg-6
            div.info
              h1 功能特性
              p REBUILD 具备强大的功能特性，满足企业日常经营所需。同时保持不断的更新迭代，推出更多新特性，优化现有特性。
        div.row
          - var major_feats = [['cubes', '业务实体', '自由设计，快速适应需求变化'], ['bolt', '权限管理', '灵活控制，权限分级有条不紊'], ['check', '数据审计', '跟踪数据历史，不怕任何数据纰漏'], ['pie-chart', '数据分析', '各类分析图表，经营数据一目了然'], ['cloud-upload', '数据导入', '历史经营数据，随心导入'], ['code', '自由开发', '随时获得最新源码，开始开发']]
            each item in major_feats
              div.col-lg-2.col-md-3.col-sm-6.col-6
                a.mini-box
                  i(class='fa fa-' + item[0])
                  strong #{item[1]}
                  span #{item[2]}

  //- Pricing
  section#pricing-plans.section.colored
    div.container
      div.row
        div.col-lg-12
          div.center-heading
            h2.section-title 开始使用
        div.offset-lg-3.col-lg-6
          div.center-text
            p REBUILD 是一款开源产品，使用 <a href="https://www.gnu.org/licenses/gpl-3.0.html">GPL3.0</a> 许可协议，你的任何修改/分发等都必须遵守此协议。如果出于商业目的使用，请购买 REBUILD 商业授权许可。
      div.row
        div.col-lg-4.col-md-6.col-sm-12
          div.pricing-item
            div.pricing-header
              h3.pricing-title 个人授权
            div.pricing-body
              div.price-wrapper
                span.currency ¥
                span.price 99
                span.period
              ul.list
                li.active 商业授权许可
                li.active 1 个开发者
                li.active 版本更新 (Major)
                li.active GitHub 支持
                li.active - 
                li.active 不可二次分发
            div.pricing-footer
              a.btn-primary-line(href="mailto:getrebuild@sina.com?subject=BuyDeveloper") 立即购买
        div.col-lg-4.col-md-6.col-sm-12
          div.pricing-item
            div.pricing-header
              h3.pricing-title 团队授权
            div.pricing-body
              div.price-wrapper
                span.currency ¥
                span.price 499
                span.period 起
              ul.list
                li.active 商业授权许可
                li.active 8 个开发者
                li.active 版本更新 (Major)
                li.active GitHub 支持
                li.active 提供线上培训 (按需收费)
                li.active 不可二次分发
            div.pricing-footer
              a.btn-primary-line(href="mailto:getrebuild@sina.com?subject=BuyTeam") 立即购买
        div.col-lg-4.col-md-6.col-sm-12
          div.pricing-item
            div.pricing-header
              h3.pricing-title 企业授权
            div.pricing-body
              div.price-wrapper
                span.currency ¥
                span.price 1999
                span.period 起
              ul.list
                li.active 商业授权许可
                li.active 无限制开发者
                li.active 版本更新 (Major)
                li.active 专业在线支持
                li.active 提供上门培训 (按需收费)
                li.active 不可二次分发
            div.pricing-footer
              a.btn-primary-line(href="mailto:getrebuild@sina.com?subject=BuyOrganization") 立即购买
      div.row
        div.offset-lg-2.col-lg-8
          div.center-text
            div(style="margin:20px 0")
              span.oem-icon
                i.fa.fa-building
            p 同时我们也提供了可供二次分发的 OEM/SaaS 授权许可，详情请 <a href="mailto:getrebuild@sina.com?subject=BuyOEM">联系我们</a>
