doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    meta(name="keywords", content= keywords || "REBUILD,RB,GETREBUILD,CRM,OA,ERP,MIS,HIS,CRM系统,企业管理,业务系统,办公,企业中台,开源CRM")
    meta(name="description", content= description || "REBUILD 是一款开源的企业管理系统。为你提供自定义业务实体、权限管理、流程管理、数据审计、文件管理、企业微博、消息通知等功能特性，可根据不同企业的需求，依据自身业务特征来搭建系统。")
    title= title || "REBUILD 高度可定制化的企业管理系统"
    include _head.pug
  body
    //- Loading
    div#preloader.hide
      div.jumper
        div
        div
        div

    //- header
    header.header-area.header-sticky
      div.container
        div.row
          div.col-12
            nav.main-nav
              a.logo(href="https://getrebuild.com/")
                img(src="/img/logo.png", alt="Logo")
              ul.nav
                li
                  a.active(href="/") 首页
                li
                  a.active(href="/#features") 功能
                li
                  a(href="/download") 下载
                li
                  a(href="/docs/") 文档
                li.submenu.hide
                  a(href="javascript:;") 更多
                  ul
                    li
                      a(href="https://github.com/getrebuild/rebuild/") GitHub
                li
                  a.btn-nav(href="https://nightly.getrebuild.com/") 立即体验
              a.menu-trigger
                span 菜单

    //- content
    block content

    //- footer
    footer
      div.container
        div.row
          div.col-lg-5.col-md-12.col-sm-12
            img.logo(src="/img/logo-white.png", alt="Logo")
            div.text.hide
            ul.social.hide
              li
                a(href="https://github.com/getrebuild/")
                  i.fa.fa-github
          div.col-lg-2.col-md-4.col-sm-6.col-6
            h5 资源
            ul.footer-nav
              li
                a(href="/docs/")
                  i.fa.fa-angle-right
                  span 帮助文档
                a(href="https://raw.githubusercontent.com/getrebuild/rebuild/master/LICENSE")
                  i.fa.fa-angle-right
                  span 开源许可协议
                a(href="https://raw.githubusercontent.com/getrebuild/rebuild/master/COMMERCIAL")
                  i.fa.fa-angle-right
                  span 商用许可协议
          div.col-lg-2.col-md-4.col-sm-6.col-6
            h5 支持
            ul.footer-nav
              li
                a(href="/report-issue")
                  i.fa.fa-angle-right
                  span 问题反馈
                a(href="/building-systems")
                  i.fa.fa-angle-right
                  span 在线定制
                a(href="/authority")
                  i.fa.fa-angle-right
                  span 授权查询
          div.col-lg-3.col-md-4.col-sm-12
            h5 联系我们
            div.address
              p 邮箱 getrebuild@sina.com
              p 电话 (86) 17187472172

        //- copyright
        div.row
          div.col-lg-12
            div.copyright
              p &copy; 2019 REBUILD 版权所有 · 沪ICP备15028736号
              p.lng
                span 
                  i.fa.fa-globe
                span 
                  a(href="?lng=en") EN
                span 
                  a(href="?lng=zh-CN") 中文
