extends layout

block content
  div.page
    div.cover(data-image="/img/photos/header.jpg")
      div.cover-top
        div.container
          div.row
            div.offset-lg-3.col-lg-6
              h1 提交问题或建议
              p REPORT ISSUE
      div.cover-bottom
        div.container
          div.row
            div.col-lg-12
              ol.breadcrumb
                li
                  a(href="/") 首页
                li.active 提交问题

    div.page-bottom
      div.container
          h1.text-center 请稍后 ...
